<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131309280901-iqubkj5bqgmp6bujpq10i3m6u8ltpfke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131309280901-iqubkj5bqgmp6bujpq10i3m6u8ltpfke</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>131309280901-gg7in07uufjfur39aoh05jdb271klv79.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAj6umDfO6HsikJJnaNpRiO4UNombgqcl8</string>
	<key>GCM_SENDER_ID</key>
	<string>131309280901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parkingUnited.ios</string>
	<key>PROJECT_ID</key>
	<string>parking-united</string>
	<key>STORAGE_BUCKET</key>
	<string>parking-united.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131309280901:ios:ff75a98e1e858c91b4d3ec</string>
</dict>
</plist>